.container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2deba;
}

.heading {
  font-size: 48px;
  color: #780000;
  text-shadow: -1px -1px 0 #d89441, 1px -1px 0 #d89441, -1px 1px 0 #d89441,
    1px 1px 0 #d89441;
}
