@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Uncial Antiqua", cursive;
}

.westeros {
  width: 100%;
}
